detect_apply.py filter=lfs diff=lfs merge=lfs -text
export.py filter=lfs diff=lfs merge=lfs -text
panoptic filter=lfs diff=lfs merge=lfs -text
train_dual.py filter=lfs diff=lfs merge=lfs -text
detect.py filter=lfs diff=lfs merge=lfs -text
test2017.zip filter=lfs diff=lfs merge=lfs -text
val.py filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
train_triple.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
back.jpg filter=lfs diff=lfs merge=lfs -text
benchmarks.py filter=lfs diff=lfs merge=lfs -text
image_rc.py filter=lfs diff=lfs merge=lfs -text
save filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
list.jpg filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
val2017.zip filter=lfs diff=lfs merge=lfs -text
val_dual.py filter=lfs diff=lfs merge=lfs -text
figure filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
runs filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
uploads filter=lfs diff=lfs merge=lfs -text
classify filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
segment filter=lfs diff=lfs merge=lfs -text
train2017.zip filter=lfs diff=lfs merge=lfs -text
voc_label.py filter=lfs diff=lfs merge=lfs -text
templates filter=lfs diff=lfs merge=lfs -text
upload.py filter=lfs diff=lfs merge=lfs -text
best.pt filter=lfs diff=lfs merge=lfs -text
digital.py filter=lfs diff=lfs merge=lfs -text
digital.ui filter=lfs diff=lfs merge=lfs -text
paper_date filter=lfs diff=lfs merge=lfs -text
split_train_val.py filter=lfs diff=lfs merge=lfs -text
hubconf.py filter=lfs diff=lfs merge=lfs -text
image_add.py filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
val_triple.py filter=lfs diff=lfs merge=lfs -text
